<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.socialmusicdiscovery.yggdrasil.foundation.editordialogs" name="Editor Dialogs" schema="schema/editordialogs.exsd"/>
   <extension-point id="org.socialmusicdiscovery.yggdrasil.foundation.datasource" name="Data Source" schema="schema/datasource.exsd"/>

   <extension
         point="org.eclipse.ui.views">
        <view
             category="org.eclipse.ui"
             class="org.eclipse.ui.ExtensionFactory:progressView"
             icon="icons/strawman/progress.png"
             id="org.eclipse.ui.views.ProgressView"
             name="Progress View">
         </view>
   </extension>
   <extension
         id="org.socialmusicdiscovery.yggdrasil.foundation.prefs"
         name="%preferences.name"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.socialmusicdiscovery.yggdrasil.foundation.prefs.Main"
            class="org.socialmusicdiscovery.yggdrasil.foundation.prefs.ServerConnection"
            id="org.socialmusicdiscovery.yggdrasil.foundation.prefs.ServerConnection"
            name="%preferences.server.connection.name">
      </page>
      <page
            class="org.socialmusicdiscovery.yggdrasil.foundation.prefs.Main"
            id="org.socialmusicdiscovery.yggdrasil.foundation.prefs.Main"
            name="%preferences.main.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.socialmusicdiscovery.yggdrasil.foundation.prefs.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="%menu.file.label"
               mnemonic="%menu.file.mnemonic">
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  mnemonic="%command.refresh.mnemonic"
                  style="push">
            </command>
            <command
                  commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.OpenEntityEditor"
                  label="%menu.command.edit.label"
                  mnemonic="%menu.command.edit.mnemonic"
                  style="push">
            </command>
            <separator
                  name="edit-close"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  style="push">
            </command>
            <separator
                  name="close-save"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <separator
                  name="beforeExit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  mnemonic="%command.exit.mnemonic"
                  style="push">
            </command>
         </menu>
         <menu
               id="server"
               label="%menu.server.label"
               mnemonic="%menu.server.mnemonic">
            <command
                  commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.ConnectDataSource"
                  label="%command.server.connect.label"
                  mnemonic="%command.server.connect.mnemonic"
                  style="push"
                  tooltip="Connect to server according to server preferences.">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.DisconnectDataSource"
                  label="%command.server.disconnect.label"
                  mnemonic="%command.server.disconnect.mnemonic"
                  style="push"
                  tooltip="Disconnect from server. Note: if set to &quot;auto-connect&quot;, a new connection to the server will be made immeditely. If server settings have changed in between, the new connection will be made to changed settings.">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.ImportFromSBS"
                  label="%command.server.import.sbs.label"
                  mnemonic="%command.server.import.sbs.mnemonic"
                  style="push"
                  tooltip="Import files and metadata from SqueezeBox Server">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.configureServer"
                  label="%command.server.configure.label"
                  mnemonic="%command.server.configure.mnemonic"
                  style="push"
                  tooltip="Configure SMD Server">
            </command>
         </menu>
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="window"
               label="%menu.window.label"
               mnemonic="%menu.window.mnemonic">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  mnemonic="%command.preferences.mnemonic"
                  style="push">
            </command>
            <separator
                  name="sep1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  mnemonic="%command.newWindow.mnemonic"
                  style="push">
            </command>
          </menu>
         <menu
               id="help"
               label="%menu.help.label"
               mnemonic="%menu.help.mnemonic">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  mnemonic="%command.introAction.mnemonic"
                  style="push">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  mnemonic="%command.aboutAction.mnemonic"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.Create"
               label="%popup.command.create.label"
               mnemonic="%popup.command.create.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.Delete"
               label="%popup.command.delete.label"
               mnemonic="%popup.command.delete.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.OpenEntityEditor"
               label="%popup.command.edit.label"
               mnemonic="%popup.command.edit.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.PlayElement"
               label="%popup.command.play.label"
               mnemonic="%popup.command.play.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.ConnectDataSource"
            name="Connect Data Source">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.Create"
            name="Create">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.Delete"
            name="Delete">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.DeleteDependent"
            name="Delete Dependent">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.DisconnectDataSource"
            name="Disconnect Data Source">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.OpenEntityEditor"
            name="Edit">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.ImportFromSBS"
            name="Import SBS">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.PlayElement"
            name="Play">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.foundation.commands.configureServer"
            name="Configure SMD Server">
      </command>
   </extension>
   <extension
          point="org.eclipse.ui.handlers">
      <handler
            class="org.socialmusicdiscovery.yggdrasil.foundation.commands.OpenEntityEditor"
            commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.OpenEntityEditor">
          <enabledWhen>
                <iterate
                      ifEmpty="false">
                  <instanceof
                        value="org.socialmusicdiscovery.yggdrasil.foundation.content.ObservableEntity">
                  </instanceof>
               </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.socialmusicdiscovery.yggdrasil.foundation.commands.Delete"
            commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.Delete">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.socialmusicdiscovery.yggdrasil.foundation.content.Deletable">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.socialmusicdiscovery.yggdrasil.foundation.commands.DeleteDependent"
            commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.DeleteDependent">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.socialmusicdiscovery.yggdrasil.foundation.content.AbstractDependentEntity">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.socialmusicdiscovery.yggdrasil.foundation.commands.Create"
            commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.Create">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.socialmusicdiscovery.yggdrasil.foundation.content.ItemFactory">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
     <handler
           class="org.socialmusicdiscovery.yggdrasil.foundation.commands.ConnectDataSource"
           commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.ConnectDataSource">
     </handler>
     <handler
           class="org.socialmusicdiscovery.yggdrasil.foundation.commands.DisconnectDataSource"
           commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.DisconnectDataSource">
     </handler>
     <handler
           class="org.socialmusicdiscovery.yggdrasil.foundation.commands.ImportFromSBS"
           commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.ImportFromSBS">
     </handler>
     <handler
            class="org.socialmusicdiscovery.yggdrasil.foundation.commands.PlayElement"
            commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.PlayElement">
          <enabledWhen>
                <iterate
                      ifEmpty="false">
                  <instanceof
                        value="org.socialmusicdiscovery.server.business.model.core.PlayableElement">
                  </instanceof>
               </iterate>
         </enabledWhen>
      </handler>
     <handler
           class="org.socialmusicdiscovery.yggdrasil.foundation.commands.ConfigureServer"
           commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.configureServer">
     </handler>
    </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-names="Artist"
            id="org.socialmusicdiscovery.server.business.model.core.Artist"
            name="Artist"
            priority="normal">
      </content-type>
      <content-type
            file-names="Contributor"
            id="org.socialmusicdiscovery.server.business.model.core.Contributor"
            name="Contributor"
            priority="normal">
      </content-type>
      <content-type
            file-names="ContributorOwner"
            id="org.socialmusicdiscovery.server.business.model.core.ContributorOwner"
            name="Contributor Owner"
            priority="normal">
      </content-type>
      <content-type
            file-names="Label"
            id="org.socialmusicdiscovery.server.business.model.core.Label"
            name="Label"
            priority="normal">
      </content-type>
      <content-type
            file-names="Medium"
            id="org.socialmusicdiscovery.server.business.model.core.Medium"
            name="Medium"
            priority="normal">
      </content-type>
      <content-type
            file-names="Part"
            id="org.socialmusicdiscovery.server.business.model.core.Part"
            name="Part"
            priority="normal">
      </content-type>
      <content-type
            file-names="Person"
            id="org.socialmusicdiscovery.server.business.model.core.Person"
            name="Person"
            priority="normal">
      </content-type>
      <content-type
            file-names="PlayableElement"
            id="org.socialmusicdiscovery.server.business.model.core.PlayableElement"
            name="Playable Element"
            priority="normal">
      </content-type>
      <content-type
            file-names="Recording"
            id="org.socialmusicdiscovery.server.business.model.core.Recording"
            name="Recording"
            priority="normal">
      </content-type>
      <content-type
            file-names="RecordingSession"
            id="org.socialmusicdiscovery.server.business.model.core.RecordingSession"
            name="Recording Session"
            priority="normal">
      </content-type>
      <content-type
            file-names="Release"
            id="org.socialmusicdiscovery.server.business.model.core.Release"
            name="Release"
            priority="normal">
      </content-type>
      <content-type
            file-names="Work"
            id="org.socialmusicdiscovery.server.business.model.core.Work"
            name="Work"
            priority="normal">
      </content-type>
      <content-type
            file-names="Track"
            id="org.socialmusicdiscovery.server.business.model.core.Track"
            name="Track"
            priority="normal">
      </content-type>
   </extension>

</plugin>
