<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.socialmusicdiscovery.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Main Perspective"
            class="org.socialmusicdiscovery.rcp.Perspective"
            id="org.socialmusicdiscovery.rcp.Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="smd-rcp.application"
            name="SMD Rich Client">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="smdrcp.intro">
      </intro>
      <introProductBinding
            introId="smdrcp.intro"
            productId="smd-rcp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="smdrcp.intro"
            content="introContent.xml"
            id="smd-rcp.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="smd-rcp.configId">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.socialmusicdiscovery.rcp.views.navigator.NavigatorView"
            id="org.socialmusicdiscovery.rcp.views.NavigatorView"
            name="Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.socialmusicdiscovery.rcp.editors.artist.ArtistEditor"
            default="false"
            id="org.socialmusicdiscovery.rcp.editors.artist.ArtistEditor"
            name="Artist Editor">
      </editor>
      <editor
            class="org.socialmusicdiscovery.rcp.editors.release.ReleaseEditor"
            default="false"
            id="org.socialmusicdiscovery.rcp.editors.release.ReleaseEditor"
            name="Release Editor">
      </editor>
   </extension>

</plugin>
