<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="linux.gtk.x86 development platform" sequenceNumber="9">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.feature.group" version="3.7.0.v20110504-0800-7b7qFVpFEx2XnmYtj_9RfO7"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location path="${workspace_loc:/org.socialmusicdiscovery.yggdrasil-product}/target/linux.gtk.x86/eclipse" type="Directory"/>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86</arch>
<nl>sv_SE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
