<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.socialmusicdiscovery.yggdrasil.core.editors.artist.ArtistEditor"
            default="false"
            id="org.socialmusicdiscovery.yggdrasil.core.editors.artist.ArtistEditor"
            name="%editor.artist.name">
         <contentTypeBinding
               contentTypeId="org.socialmusicdiscovery.server.business.model.core.Artist">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.socialmusicdiscovery.yggdrasil.core.editors.release.ReleaseEditor"
            default="false"
            id="org.socialmusicdiscovery.yggdrasil.core.editors.release.ReleaseEditor"
            name="%editor.release.name">
         <contentTypeBinding
               contentTypeId="org.socialmusicdiscovery.server.business.model.core.Release">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.socialmusicdiscovery.yggdrasil.core.editors.recording.RecordingEditor"
            default="false"
            id="org.socialmusicdiscovery.yggdrasil.core.editors.recording.RecordingEditor"
            name="%editor.recording.name">
         <contentTypeBinding
               contentTypeId="org.socialmusicdiscovery.server.business.model.core.Recording">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.socialmusicdiscovery.yggdrasil.core.editors.label.LabelEditor"
            default="false"
            id="org.socialmusicdiscovery.yggdrasil.core.editors.label.LabelEditor"
            name="%editor.label.name">
         <contentTypeBinding
               contentTypeId="org.socialmusicdiscovery.server.business.model.core.Label">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.socialmusicdiscovery.yggdrasil.core.editors.work.WorkEditor"
            default="false"
            id="org.sociaorg.socialmusicdiscovery.yggdrasil.core.editors.label.WorkEditor"
            name="%editor.work.name">
         <contentTypeBinding
               contentTypeId="org.socialmusicdiscovery.server.business.model.core.Work">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.socialmusicdiscovery.server.business.model.core.Part">
         </contentTypeBinding>
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.socialmusicdiscovery.yggdrasil.core.commands.CreateContributor"
            id="org.socialmusicdiscovery.yggdrasil.core.commands.CreateContributor"
            name="%command.createContributor.name">
      </command>
      <command
            defaultHandler="org.socialmusicdiscovery.yggdrasil.core.commands.CreateTrack"
            id="org.socialmusicdiscovery.yggdrasil.core.commands.CreateTrack"
            name="%command.createTrack.name">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.core.commands.EditRecording"
            name="%command.editRecording.name">
      </command>
      <command
            id="org.socialmusicdiscovery.yggdrasil.core.commands.EditArtist"
            name="%command.editArtist.name">
      </command>
   </extension>
  <extension
          point="org.eclipse.ui.handlers">
    <handler
           class="org.socialmusicdiscovery.yggdrasil.core.commands.OpenRecordingEditor"
           commandId="org.socialmusicdiscovery.yggdrasil.core.commands.EditRecording">
        <enabledWhen>
           <iterate
                 ifEmpty="false">
              <instanceof
                    value="org.socialmusicdiscovery.server.business.model.core.Track">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
     <handler
           class="org.socialmusicdiscovery.yggdrasil.core.commands.OpenArtistEditor"
           commandId="org.socialmusicdiscovery.yggdrasil.core.commands.EditArtist">
        <enabledWhen>
           <iterate
                 ifEmpty="false">
              <instanceof
                    value="org.socialmusicdiscovery.server.business.model.core.Contributor">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
   </extension>
  <extension
        point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="org.socialmusicdiscovery.yggdrasil.core.editors.artist.ArtistEditor">
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.PlayElement"
               label="%popup.command.play.label"
               mnemonic="%popup.command.play.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <instanceof
                     value="org.socialmusicdiscovery.server.business.model.core.PlayableElement">
               </instanceof>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.socialmusicdiscovery.yggdrasil.core.editors.ContributorPanel">
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.core.commands.CreateContributor"
               label="%popup.command.createDependent.label"
               mnemonic="%popup.command.createDependent.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.DeleteDependent"
               label="%popup.command.delete.label"
               mnemonic="%popup.command.delete.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.core.commands.EditArtist"
               label="%popup.command.editArtist.label"
               mnemonic="%popup.command.editArtist.mnemonic"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.socialmusicdiscovery.yggdrasil.core.editors.release.ReleaseEditor.tracks">
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.core.commands.CreateTrack"
               label="%popup.command.createDependent.label"
               mnemonic="%popup.command.createDependent.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.foundation.commands.DeleteDependent"
               label="%popup.command.delete.label"
               mnemonic="%popup.command.delete.mnemonic"
               style="push">
         </command>
         <command
               commandId="org.socialmusicdiscovery.yggdrasil.core.commands.EditRecording"
               label="%popup.command.editRecording.label"
               mnemonic="%popup.command.editRecording.mnemonic"
               style="push">
         </command>
      </menuContribution>
  </extension>
  <extension
        point="org.socialmusicdiscovery.yggdrasil.foundation.editordialogs">
     <Dialog
           class="org.socialmusicdiscovery.yggdrasil.core.editors.track.TrackDialog"
           contentTypeId="org.socialmusicdiscovery.server.business.model.core.Track">
     </Dialog>
     <Dialog
           class="org.socialmusicdiscovery.yggdrasil.core.editors.contributor.ContributorDialog"
           contentTypeId="org.socialmusicdiscovery.server.business.model.core.Contributor">
     </Dialog>
  </extension>

</plugin>
